*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
  background-color: white;
}

table{
  background-color: grey;
  
}


th{
  padding: 10px;
}

td{
  padding: 10px;

}

.row{
  margin: 10px 0;
  display: flex;
  justify-content: center;
  background-color: green;
}

.add{
  border: solid violet 1px;
}
.btn-add{
  padding: 5px;
  background-color: gray;
  border-radius: 6px;
  cursor: pointer;
}
a{
  text-decoration: none;
}
input {
  padding: 5px;
  border: solid tomato 1px ;
  border-radius: 7px;
}